.body{
    background-color: black;
}
section{
    background-color: bisque;
    margin: auto;
    width: 350px;
    height: 420px;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
    border-radius: 8px;
}
.header-card{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    height: 220px;
    margin-bottom: 5px;

}
.image{
    width: 95%;
    height: 165px;
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: -13px;
    margin-top: 4px;
}
img{
    width: 100%;
    height: 165px;
}
.footer-card .cta {
  margin: auto;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none;
}
.footer-card{
    display: flex;
}